<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Simple Login{% endblock %}</title>
</head>
<body>
  <header>
    <h1>Django Simple Login</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>

      <a href="{% url 'data:personal_info' %}">personal_info</a> <br>
      <a href="{% url 'data:address' %}">address</a> <br>
      <a href="{% url 'data:work_info' %}">work_info</a> <br>
      <a href="{% url 'data:insignia' %}">insignia</a> <br>
      <a href="{% url 'data:education' %}">education</a> <br>
    {% else %}
      <a href="{% url 'login' %}">login</a>  <br>         
      <a href="{% url 'signup' %}">signup</a> <br>   
         
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
  <footer>
    <a href="http://simpleisbetterthancomplex.com">simpleisbetterthancomplex.com</a>
  </footer>
</body>
</html>