{% extends 'base.html' %}

{% block content %}


  <h2>Address</h2>
  <h1>Django Girls Blog</h1>

  <div class="container-fluid vertical-center">
    <div class="row">
      <div class="col-sm-4 col-centered">.col-sm-4</div>
      <div class="col-sm-4">.col-sm-4</div>
      <div class="col-sm-4">.col-sm-4</div>
    </div>
  </div>

  

    <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    ที่อยู่ตามทะเบียนบ้าน    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="fieldWrapper">
                    {{ form.number_regis.errors }}
                    <label for="{{ form.number_regis.id_for_label }}">เลขที่</label>
                    {{ form.number_regis }}
                </div>
            </div>
            <div class="col-sm-2">
                <div class="fieldWrapper">
                    {{ form.village_no_regis.errors }}
                    <label for="{{ form.village_no_regis.id_for_label }}">หมู่</label>
                    {{ form.village_no_regis }}
                </div>
          </div>
          <div class="col-sm-4">
              <div class="fieldWrapper">
                  {{ form.village_name_regis.errors }}
                  <label for="{{ form.village_name_regis.id_for_label }}">หมู่บ้าน</label>
                  {{ form.village_name_regis }}
              </div>
          </div>
          <div class="col-sm-4">
              <div class="fieldWrapper">
                  {{ form.lane_regis.errors }}
                  <label for="{{ form.lane_regis.id_for_label }}">ซอย</label>
                  {{ form.lane_regis }}
              </div>
          </div>
        
        
        
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="fieldWrapper">
                    {{ form.road_regis.errors }}
                    <label for="{{ form.road_regis.id_for_label }}">ถนน</label>
                    {{ form.road_regis }}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="fieldWrapper">
                    {{ form.sub_district_regis.errors }}
                    <label for="{{ form.sub_district_regis.id_for_label }}">ตำบล</label>
                    {{ form.sub_district_regis }}
                </div>
          </div>
          <div class="col-sm-3">
              <div class="fieldWrapper">
                  {{ form.district_regis.errors }}
                  <label for="{{ form.district_regis.id_for_label }}">อำเภอ</label>
                  {{ form.district_regis }}
              </div>
          </div>
          <div class="col-sm-3">
              <div class="fieldWrapper">
                  {{ form.province_regis.errors }}
                  <label for="{{ form.province_regis.id_for_label }}">จังหวัด</label>
                  {{ form.province_regis }}
              </div>
          </div>
        
        
        
        </div>
    </div>
    
    <button type="submit">submit</button>
  </form>

{% endblock %}