{% extends 'base.html' %}

{% block content %}


  <h2>Address</h2>

  
    <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
        
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5"><h3>ที่อยู่ตามทะเบียนบ้าน</h3></div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.number_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.number_regis.id_for_label }}">เลขที่</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.number_regis }}                        
                </div>
            </div>
        </div>   
        
        <div class="row">
            <div class="fieldWrapper">
                {{ form.village_no_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.village_no_regis.id_for_label }}">หมู่</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.village_no_regis }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.village_name_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.village_name_regis.id_for_label }}">หมู่บ้าน</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.village_name_regis }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.lane_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.lane_regis.id_for_label }}">ซอย</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.lane_regis }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.road_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.road_regis.id_for_label }}">ถนน</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.road_regis }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.sub_district_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.sub_district_regis.id_for_label }}">ตำบล</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.sub_district_regis }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.district_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.district_regis.id_for_label }}">อำเภอ</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.district_regis }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.province_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.province_regis.id_for_label }}">จังหวัด</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.province_regis }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.postal_code_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.postal_code_regis.id_for_label }}">รหัสไปรษณีย์</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.postal_code_regis }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.smartphone_number_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.smartphone_number_regis.id_for_label }}">เบอร์โทรศัพท์มือถือ</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.smartphone_number_regis }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.phone_number_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.phone_number_regis.id_for_label }}">เบอร์โทรศัพท์</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.phone_number_regis }}                        
                </div>
            </div>
        </div>


        
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5"><h3>ที่อยู่ปัจจุบัน</h3></div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.number.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.number.id_for_label }}">เลขที่</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.number }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.village_no.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.village_no.id_for_label }}">หมู่</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.village_no }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.village_name_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.village_name.id_for_label }}">หมู่บ้าน</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.village_name_regis }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.lane_regis.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.lane.id_for_label }}">ซอย</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.lane }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.road.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.road.id_for_label }}">ถนน</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.road }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.sub_district.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.sub_district.id_for_label }}">ตำบล</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.sub_district }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.district.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.district.id_for_label }}">อำเภอ</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.district }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.province.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.province.id_for_label }}">จังหวัด</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.province }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.postal_code.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.postal_code.id_for_label }}">รหัสไปรษณีย์</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.postal_code }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.smartphone_number.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.smartphone_number.id_for_label }}">เบอร์โทรศัพท์มือถือ</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.smartphone_number }}                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="fieldWrapper">
                {{ form.phone_number.errors }}
                <div class="col-sm-1"></div>
                <div class="col-sm-2">                
                    <label for="{{ form.phone_number.id_for_label }}">เบอร์โทรศัพท์</label>           
                </div>
                <div class="col-sm-3">       
                    {{ form.phone_number }}                        
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"> 
                <button type="submit">submit</button>
            </div>
        </div>

    </div>
 
  </form>

{% endblock %}