{% extends 'base.html' %}

{% block content %}


    <h2>ข้อมูลที่อยู่</h2>

  
    <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
        
    
        {% for nameField,field in form_tuple %}
            {% if field.id_for_label == "id_number_regis" %}

    <h3>&nbsp;&nbsp;&nbsp; ที่อยู่ตามทะเบียนบ้าน</h3>
    <table class="table table-striped">
            {% elif field.id_for_label == "id_number"  %}

    </table>
    <br>
    <h3>&nbsp;&nbsp;&nbsp; ที่อยู่ปัจจุบัน</h3>
    <table class="table table-striped">
          
            {% endif %}

            <tr>
                <td></td>
                <td><b>{{nameField}}</b></td>
                <td>{{ field }} {{ fofield.errors}}</td> 

            </tr>
        {% endfor %}
        
    </table>
    <br>
    <center><button type="submit" class="btn btn-success btn-lg">submit</button></b></td></center>
    <br>       

 
  </form>

{% endblock %}