{% extends 'base.html' %}

{% block content %}
<style> 
    .table td {
        text-align: center;   
     }

     .table th {
        text-align: center;   
     }
</style>
    <h2>รายชื่อบุคลากร</h2>

    <table class="table table-striped " id="cssTable">
        <thead class="thead-dark ">
            <tr>
                <th ></th>
                <th align="center" valign="middle" >username</th>
                <th>ข้อมูล<br>ส่วนตัว</th>
                <th>ข้อมูล<br>ที่อยู่</th>
                <th>ข้อมูล<br>การทำงาน</th>
                <th>ข้อมูล<br>เครื่องราช<br>อิสริยาภรณ์</th>
                <th>ข้อมูล<br>การศึกษา</th>
            </tr>
        </thead>
        <tbody>

        
                {% for user in teacher_obj_list %}
                    <tr>
                        <td text-align=center>{{forloop.counter }}</td>
                        <td>{{ user.username }}</td>          
                        <td><a href="{% url 'data:personal_info' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>   
                        <td><a href="{% url 'data:address' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td> 
                        <td><a href="{% url 'data:work_info' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>  
                        <td><a href="{% url 'data:insignia' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td> 
                        <td><a href="{% url 'data:education' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>                   
                    </tr>
                {% endfor %}

        </tbody>
    </table>
           

{% endblock %}