{% extends 'base.html' %}

{% block content %}


  <h2>ข้อมูลการทำงาน</h2>

  
  <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      
      

      <table class="table table-striped table-dark  ">
         
        <tr>            
           
            <td></td>
            <td><b>วันเข้ารับราชการ</b></td>
            <td>{{ form.start_service_date }} {{ form.start_service_date.errors }} </td>
        </tr>

        <tr>              
            <td></td>
            <td><b>ตำแหน่ง</b></td>
            <td>{{ form.position }}{{ form.position.errors }}</td>
        </tr>

        <tr>
            <td></td>
            <td><b>สังกัด</b></td>
            <td>{{ form.group }} {{ form.group.errors }}</td>
        </tr>

        <tr>            
            <td></td>
            <td><b>วันเกษียณอายุราชการ</b></td>
            <td>{{ form.end_service_date }}{{ form.end_service_date.errors }}</td>
        </tr>

        <tr>
            <td></td>
            <td><b>วันที่ดำรงตำแหน่งที่โรงเรียนปทุมวิไล</b></td>
            <td>{{ form.start_PW_date }}{{ form.start_PW_date.errors }}</td>
        </tr>

        <tr>            
            <td></td>
            <td><b>ตำแหน่งปัจจุบัน</b></td>
            <td>{{ form.current_position }}{{ form.current_position.errors }}</td>
        </tr>

        <tr>            
            <td></td>
            <td><b>เลขที่ตำแหน่ง</b></td>
            <td>{{ form.position_number }}{{ form.position_number.errors }}</td>
        </tr>

        <tr>
            <td></td>
            <td><b>เลขที่ตำแหน่ง</b></td>
            <td>{{ form.position_number }}{{ form.position_number.errors }}</td>
        </tr>

        <tr>
            <td></td>
            <td><b>อันดับ</b></td>
            <td>{{ form.rank_number }}{{ form.rank_number.errors }}</td>
        </tr>

        <tr>            
            <td></td>
            <td><b>ขั้น(บาท)</b></td>
            <td>{{ form.rank_money }}{{ form.rank_money.errors }}</td>
        </tr>

        <tr>            
            <td></td>
            <td><b>วิทยฐานะ</b></td>
            <td>{{ form.academic_standing }}{{ form.academic_standing.errors }}</td>
        </tr>

        <tr>           
            <td></td>
            <td><b>เงินวิทยฐานะ</b></td>
            <td>{{ form.academic_standing_money }}{{ form.academic_standing_money.errors }}</td>
        </tr>

        <tr>            
            <td></td>
            <td><b>สมาชิก กบข.</b></td>
            <td>{{ form.isGPF_member }}{{ form.isGPF_member.errors }}</td>
        </tr>
        
        <tr>            
            <td></td>
            <td><b>ปัจจุบันสอนกลุ่มสาระ</b></td>
            <td>{{ form.department }}{{ form.department.errors }}</td>
        </tr>

        <tr>            
            <td></td>
            <td><b>วิชาที่สอน</b></td>
            <td>{{ form.subject }}{{ form.subject.errors }}</td>
        </tr>


        <br>
        <tr>
            <td></td>
            <td> 
                <button type="submit">submit</button>
            </td>
        </tr>
    </table>
  </form>

{% endblock %}